/* src/App.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f2f2f2; /* Light background for contrast */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-top: 80px; 
}

@media (max-width: 768px) {
    .App {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center; /* Center align all child elements */
        padding: 0 10px; /* Add some padding for better spacing */
    }
}

.welcome-title {
    text-align: center;
}


html {
    scroll-behavior: smooth;
}

nav {
    background-color: #0099cc; /* Ocean Blue */
    color: white;
    padding: 1rem;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed; /* Ensure nav stays at the top */
    top: 0;
    left: 0;
    z-index: 1000; /* High value to ensure it’s on top */
}

nav img.logo {
    height: 100px;
    margin-right: 20px;
}

/* Hamburger menu styles */
.nav-toggle {
    display: none;
    background: none;
    border: none;
    color: white;
    font-size: 2rem;
    cursor: pointer;
}

/* Navigation menu styles */
nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    font-size: 1.2rem; 
}


@media (max-width: 768px) {
    .nav-toggle {
        display: block;
    }

    nav ul {
        display: none; /* Hide by default */
        flex-direction: column;
        width: 100%;
        background-color: #0099cc;
        position: absolute;
        top: 100%; /* Position below the nav bar */
        left: 0;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        z-index: 1000; /* Ensure it’s on top */
    }

    nav ul.nav-open {
        display: flex; /* Show when open */
    }

    nav ul li {
        margin: 1rem 0;
        text-align: center;
    }

    nav ul li a {
        padding: 1rem;
    }
}

@media (max-width: 480px) {
    nav img.logo {
        height: 80px;
    }

    .nav-toggle {
        font-size: 1.5rem;
    }

    nav ul li a {
        font-size: 1rem;
    }
}

section {
    width: 90%; 
    max-width: 800px; 
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 1rem 0;
    position: relative; 
}

section h2 {
    color: #ff6f00; 
    margin-bottom: 1rem;
    text-align: center; 
}


#price-list {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    padding: 2rem;
}

#price-list h2 {
    color: #ff6f00; /* Sunset Orange */
    margin-bottom: 1rem;
}

#price-list ul {
    list-style-type: none; 
    padding: 0;
    margin: 0;
    display: flex; 
    justify-content: center; 
    flex-wrap: wrap; 
}

#price-list ul li {
    margin: 0 15px; 
    font-size: 1.1rem;
    text-align: center; 
}

@media (max-width: 768px) {
    #price-list ul {
        flex-direction: column; 
        align-items: center;
    }

    #price-list ul li {
        margin: 10px 0; 
    }
}


#whats-included-container {
    width: 100%; 
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: left; 
}

#whats-included-ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    margin: 0;
    width: 100%; 
    max-width: 600px; 
}

#whats-included-ul li {
    display: flex;
    align-items: center;
    margin: 0.5rem 0;
    font-size: 1.1rem;
}

#whats-included-ul li svg {
    margin-right: 10px;
    font-size: 1.5rem;
    color: #0099cc;
}

.car-photo {
    max-width: 500px;
}

welcome-p {
    margin: 0 20px;
}

@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
        align-items: center;
    }

    section {
        width: 95%; 
        padding: 1rem;
    }

    .photo-gallery img {
        max-width: 100%;
    }
}

@media (max-width: 480px) {
    nav ul {
        font-size: 0.9rem;
    }

    section {
        width: 100%;
    }

    .photo-gallery img {
        max-width: 100%;
    }
}

#home {
    margin-top: 100px; 
}